p {
    font-family: Montserrat;
    font-size: 28px;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.header-right {
    display: flex;
    column-gap: 4em;
}
